1. Characteristics of tuple:
- Immutable
- Ordered
- Indexed
- Can contain duplicate items
- To create a tuple with single item add a comma at end.
Tuples are immutable

2. index() and count()
-The reason is tuples are immutable whereas lists are mutable.

3. Sets dont allow duplicate items.
-

In [2]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
s=set(List)
s

{1, 2, 3, 4}

4. - s.union(t)  returns   new set with elements from both s and t
-
- s.update(t) returns  set s with elements added from t

In [3]:
#example
s={1,2,3,4}
t={4,5,6,7}
s.update(t)

In [4]:
s

{1, 2, 3, 4, 5, 6, 7}

In [5]:
s.union(t)

{1, 2, 3, 4, 5, 6, 7}

In [6]:
t

{4, 5, 6, 7}

In [7]:
s

{1, 2, 3, 4, 5, 6, 7}

 5. Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered, changeable and do not allow duplicates.

In [9]:
#example
dict={"key1":"value1","key2":"value2"}
dict

{'key1': 'value1', 'key2': 'value2'}

 6. Yes we can create nested dictionaries.

In [10]:
#example
dict2={"key1":"value1","key2":{"name":"Nandita","Age":"23"}}
dict2

{'key1': 'value1', 'key2': {'name': 'Nandita', 'Age': '23'}}

In [19]:
# 7
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
dict1.setdefault("topics",["Python","Machine Learning","Deep Learning"])

['Python', 'Machine Learning', 'Deep Learning']

In [20]:
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

In [22]:
#8
# Keys, values and items
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [23]:
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [24]:
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])